header{
	background: black;
	color: white;
	text-align: center;
	padding: 20px 10px;
	border-radius: 5px 5px 0 0;
	position: relative;
	.name{
		font-size: 30px;
	}
	.work{
		margin: 10px auto;
		border: 1px solid white;
		width: 35%;
	}
	.line{
		width: 20%;
		background: white;
		height: 1px;
		position: absolute;
		top: 100px;
	}
	.left{
		left: 13%;
	}
	.right{
		right: 13%;
	}
}
.isi{
	display: flex;
	.left{
		width: 40%;
		background: #ddd;
		padding: 10px;
		
	}
	table{
		tr{
			td, th{
				border-bottom: 1px solid #aaa;
				word-break: break-all;
			}
			th{
				text-align: left;
			}
		}
	}
	h2{
		letter-spacing: 2px;
		margin: 10px 0 10px 0;
		border-bottom: 1px solid #aaa;
	}

	.tebal{
		font-weight: bold;
	}
	.right{
		width: 60%;
		background: white;
		padding: 10px;
		.skill{
			margin-bottom: 5px;
			img, .item{
				display: inline-block;
			}
			img{
				width: 16%;
			}
			.item{
				vertical-align: top;
				width: 80%;
				margin: 4px;
			}
			.set{
				background: #ccc;
				color: white;
				margin-bottom: 2px;
			}
			.windows{
				padding-left: 5px;
				background: blue;
				width: 90%;
			}
			.linux{
				background: orange;
				width: 75%;
				padding-left: 5px;

			}
			.cisco{
				background: #09888e;
				width: 60%;
				padding-left: 5px;

			}
			.mysql{
				background: orange;
				width: 80%;
				padding-left: 5px;

			}
			.mongo{
				background: green;
				width: 70%;
				padding-left: 5px;

			}
			.php{
				background: #1d2793;
				padding-left: 5px;
				width: 70%;
			}
			.html{
				background: orange;
				padding-left: 5px;
				width: 90%;
			}
			.css{
				background: blue;
				padding-left: 5px;
				width: 90%;
			}
			.js{
				background: #0054db;
				padding-left: 5px;
				width: 75%;
			}
			.nodejs{
				background: green;
				padding-left: 5px;
				width: 65%;
			}
			.angular{
				background: red;
				padding-left: 5px;
				width: 80%;
			}
			.ionic{
				background: blue;
				padding-left: 5px;
				width: 80%;
			}
			.bootstrap{
				background: #6805ba;
				padding-left: 5px;
				width: 85%;
			}
			.office{
				background: blue;
				padding-left: 5px;
				width: 90%;
			}
			.corel{
				background: green;
				padding-left: 5px;
				width: 90%;
			}
			.ps{
				background: blue;
				padding-left: 5px;
				width: 80%;
			}
			.ink{
				background: black;
				padding-left: 5px;
				width: 80%;
			}


		}
		.hobi{
			margin-bottom: 5px;
			img{
				width: 28%;
				margin: 5px;
			}
		}
	}
	h4{
		display: list-item;
		margin:10px 20px;
		font-weight: bold;
		letter-spacing: 1px;
	}
}
footer{
	background: black;
	color: white;
	text-align: center;
	padding: 10px;
	border-radius: 0 0 5px 5px;
}