---
layout: default.hbs
subject: Mail
---
<header>
	<p>Resume</p>
	<div class="name">RAHMAD WIJAYA</div>
	<div class="work">DEVELOPER</div>
	<div class="line left"></div>
	<div class="line right"></div>
</header>
<div class="isi">
	<div class="left">
		<img src="https://i.imgur.com/zxfV3Wg.jpg" alt="" moz-do-not-send="true">
		<h2>&#x1f5f8;PERSONAL</h2>
		<table>
			<tr>
				<td class="tebal">Nama</td> <td>Rahmad Wijaya</td>
			</tr>
			<tr>
				<td class="tebal">TTL</td> <td>Nganjuk,</td>
			</tr>
			<tr>
				<td class="tebal">Alamat</td> <td>Dsn. Balongrejo</td>
			</tr>
			<tr>
				<td class="tebal"></td> <td>Ds. Balonggebang</td>
			</tr>
			<tr>
				<td class="tebal"></td><td>Kec. Gondang</td>
			</tr>
			<tr>
				<td class="tebal"></td><td>Kab. Nganjuk</td>
			</tr>
			<tr>
				<td class="tebal">JK</td> <td>Laki-laki</td>
			</tr>
			<tr>
				<td class="tebal">Status</td> <td>Belum Menikah</td>
			</tr>
			<tr>
				<td class="tebal">Agama</td> <td>Islam</td>
			</tr>
		</table>
		<br>
		<h2>&#x1f5f8;KONTAK</h2>
		<table>
			<tr>
				<td class="tebal">No. Hp</td> <td>+6289636957453</td>
			</tr>
			<tr>
				<td class="tebal"></td> <td>+628384522307</td>
			</tr>
			<tr>
				<td class="tebal">Email</td> <td>akujaya14@gmail.com</td>
			</tr>
		</table>	
		<br>
		<h2>&#x1f5f8;LINKS</h2>
		<table>
			<tr>
				<td class="tebal">Facebook</td>
				<td>https://www.facebook.com/djaya.vefcblrejo</td>
			</tr>
			<tr>
				<td class="tebal">Instagram</td>
				<td>https://www.instagram.com/rahmadjaya_/</td>
			</tr>
			<tr>
				<td class="tebal">Bitbucket</td>
				 <td>https://bitbucket.org/rahmadjaya/</td>
			</tr>
		</table>
		<br>
		<h2>&#x1f5f8;PORTOPOLIO</h2>
		<table>
			<tr>
				<td class="tebal">Frontend</td>
				<td>https://www.blood4lifeid.com/</td>
			</tr>
			<tr>
				<td class="tebal">Frontend and Admin</td>
				<td>http://kamtis.id/</td>
			</tr>
			<tr>
				<td class="tebal">Frontend</td>
				<td>https://getanjay.github.io/</td>
			</tr>
		</table>
	</div>
	<div class="right">
		<h2>&#x1f5f8;PROFIL</h2>
		<p>Saya seorang yang baik hati, jujur, rajin, tertib, bisa bekerja dalam kelompok (team) dan dalam tekanan.</p>
		<h2>&#x1f5f8;PENDIDIKAN</h2>
		<h4>FORMAL</h4>
		<table>
			<tr>
				<th>Tahun</th> <th>Tempat</th>
			</tr>
			<tr>
				<td class="tebal">2012-2016</td> <td>Universitas Nusantara PGRI Kediri</td>
			</tr>
			<tr>
				<td class="tebal">2009-2012</td> <td>SMA Negeri 1 Gondang Nganjuk</td>
			</tr>
			<tr>
				<td class="tebal">2006-2009</td> <td>SMP Negeri 1 Gondang Nganjuk</td>
			</tr>
			<tr>
				<td class="tebal">2000-2006</td> <td>SD Negeri Balonggebang III</td>
			</tr>
		</table>
		<h4>NON FORMAL</h4>
		<table>
			<tr>
				<th>Tahun</th> <th>Tempat</th>
			</tr>
			<tr>
				<td class="tebal">2017-Sekarang</td> <td>DOES University</td>
			</tr>
		</table>
		<h2>&#x1f5f8;KEMAMPUAN</h2>
		<div class="skill">
			<img src="https://i.imgur.com/jRugq3W.png" alt="" moz-do-not-send="true">
			<div class="item">
				<div class="set">
					<div class="windows">Windows</div>
				</div>
				<div class="set">
					<div class="linux">Linux</div>
				</div>
			</div>
		</div>
		<div class="skill">
			<img src="https://i.imgur.com/V4hS2bf.png" alt="" moz-do-not-send="true">
			<div class="item">
				<div class="set">
					<div class="cisco">Cisco</div>
				</div>
			</div>
		</div>
		<div class="skill">
			<img src="https://i.imgur.com/S1PSB19.png" alt="" moz-do-not-send="true">
			<div class="item">
				<div class="set">
					<div class="mysql">MySQL</div>
				</div>
				<div class="set">
					<div class="mongo">MongoDb</div>
				</div>
			</div>
		</div>
		<div class="skill">
			<img src="https://i.imgur.com/iNttymB.png" alt="" moz-do-not-send="true">
			<div class="item">
				<div class="set">
					<div class="php">pHp</div>
				</div>
				<div class="set">
					<div class="html">HTML5</div>
				</div>
				<div class="set">
					<div class="css">CSS3 (Sass)</div>
				</div>
				<div class="set">
					<div class="js">Jquery</div>
				</div>
				<div class="set">
					<div class="nodejs">Node.js</div>
				</div>
				<div class="set">
					<div class="angular">Angular</div>
				</div>
				<div class="set">
					<div class="ionic">Ionic Framework</div>
				</div>
				<div class="set">
					<div class="bootstrap">Bootstrap</div>
				</div>
			</div>
		</div>
		<div class="skill">
			<img src="https://i.imgur.com/CBuYvp6.png" alt="" moz-do-not-send="true">
			<div class="item">
				<div class="set">
					<div class="office">Ms. Office</div>
				</div>
			</div>
		</div>
		<div class="skill">
			<img src="https://i.imgur.com/tngPsts.png" alt="" moz-do-not-send="true">
			<div class="item">
				<div class="set">
					<div class="corel">CorelDraw</div>
				</div>
				<div class="set">
					<div class="ps">Photoshop</div>
				</div>
				<div class="set">
					<div class="ink">Inkscape</div>
				</div>
			</div>
		</div>
		<h2>&#x1f5f8;HOBI</h2>
		<div class="hobi">
			<img src="https://i.imgur.com/jbVcHnd.png" alt="" moz-do-not-send="true">
			<img src="https://i.imgur.com/Ai0P5oS.png" alt="" moz-do-not-send="true">
			<img src="https://i.imgur.com/11Wm0QB.png" alt="" moz-do-not-send="true">
		</div>
	</div>
</div>
<footer>
	<p><i>Curriculum vitae</i></p>
</footer>